In [72]:
import numpy as np
import pandas as pd

df = pd.read_csv('../TextFiles/moviereviews2.tsv', sep='\t')
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [74]:
df2 = pd.read_csv('test_review.csv') #create a totally new dataset
df2.head() #create new dataframe
new_test = df2['review'] #select the review column for the new data. NOTE there is no training data for this, just by sight

In [75]:
df2.head()

                                              review
0  Its redeeming strength [is] the authentically ...
1  It’s such a heavy-handed approach that The Wha...
2         This was the worst movie I have ever seen.
3  Aronofsky's career-long obsession with the gro...

In [76]:
# Check for NaN values:
df.isnull().sum()

label      0
review    20
dtype: int64

In [77]:
# Check for whitespace strings (it's OK if there aren't any!):
blanks = []  # start with an empty list

for i,lb,rv in df.itertuples():  # iterate over the DataFrame
    if type(rv)==str:            # avoid NaN values
        if rv.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list
        
len(blanks)

0

In [78]:
df.dropna(inplace=True)

In [79]:
df['label'].value_counts()

pos    2990
neg    2990
Name: label, dtype: int64

In [80]:
from sklearn.model_selection import train_test_split

X = df['review']
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [81]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

text_clf = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', LinearSVC()),
])

# Feed the training data through the pipeline
text_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [82]:
# Form a prediction set
predictions = text_clf.predict(X_test)#X_test
predictions2 = text_clf.predict(new_test)#X_test #test on totally new data

print(predictions2)

['pos' 'pos' 'neg' 'pos']

In [40]:
# Report the confusion matrix
from sklearn import metrics
print(metrics.confusion_matrix(y_test,predictions))

[[900  91]
 [ 63 920]]

In [41]:
# Print a classification report
print(metrics.classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.93      0.91      0.92       991
         pos       0.91      0.94      0.92       983

    accuracy                           0.92      1974
   macro avg       0.92      0.92      0.92      1974
weighted avg       0.92      0.92      0.92      1974

In [42]:
# Print the overall accuracy

print(metrics.accuracy_score(y_test,predictions))

0.9219858156028369